body {
  background-color: rgb(51, 51, 51);
}
.App {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  padding: 20px;
  text-align: center;
  border-radius: 3px;
  background-color: antiquewhite;
}

input {
  display: block;
  width: 70%;
  margin: 15px auto;
  padding: 10px;
  border-radius: 3px;
  border-style: none;
}

button {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: orange;
  border-radius: 3px;
  border-style: none;
  padding: 8px 15px;
  cursor: pointer;
  transition: ease-in .2s;
}

button:hover {
  background-color: orangered;
  color: wheat;
}